@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&family=Hind+Siliguri:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;1,400&display=swap");
.header__main {
  position: relative;
  background: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 1;
}
.header__main--logo::after {
  content: "агенство email-маркетинга";
  width: 175px;
}
.header__main__navbar {
  display: none;
}
.header__main__navbar ul {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 500;
  gap: 1rem;
}
.header__main__navbar ul a[data-menu-item] {
  position: relative;
}
.header__main__navbar ul a[data-menu-item]::after {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -3rem;
  left: 0;
  background-color: #DB6020;
}
.header__main__navbar ul a[data-menu-item]:hover {
  color: #DB6020;
}
.header__main__navbar ul a[data-menu-item]:hover::after {
  content: "";
}
.header__main--btn {
  display: flex;
  flex-direction: column;
  background: transparent;
  border: none;
  width: 2.2rem;
  height: 2rem;
  gap: 20%;
  cursor: pointer;
}
.header__main--btn .sector {
  background-color: #DB6020;
  width: 100%;
  height: 15%;
}
.header__main--btn::before {
  background-color: #DB6020;
  content: "";
  width: 100%;
  height: 15%;
}
.header__main--btn::after {
  background-color: #DB6020;
  content: "";
  width: 100%;
  height: 15%;
}
.header__main--btn:hover .sector {
  background-color: #b9541d;
}
.header__main--btn:hover::before {
  background-color: #b9541d;
}
.header__main--btn:hover::after {
  background-color: #b9541d;
}

.navbar {
  position: absolute;
  left: 0;
  display: none;
  flex-direction: row-reverse;
  background-color: white;
  top: 0;
  width: 100vw;
  transition: all 500ms ease-in-out;
  z-index: 0;
}
.navbar ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 20px;
  padding: 1rem 1rem 1rem 0;
  font-weight: bold;
  z-index: 0;
}
.navbar ul a:hover {
  color: #DB6020;
}

main .header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
main .header--img {
  width: 100%;
}
main .header--link {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .header--link h1 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}
main .header--link a {
  text-align: center;
}

main .article {
  display: grid;
  grid-template-rows: auto auto auto auto;
  padding: 0 0.5rem;
  gap: 2rem;
}
main .article h3 {
  margin: 1rem 0 1rem 0;
}
main .article .comunicate {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
main .article .comunicate a {
  width: 80%;
}

.partnership {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.partnership__list {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.partnership__list--item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.partnership__list--item:hover {
  transform: scale(1.1);
}
.partnership a {
  margin-top: 2rem;
  width: 80%;
}

.advantages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.advantages h1 {
  text-align: center;
}
.advantages--child {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1.5rem;
}
.advantages--child div {
  position: relative;
  width: 80%;
}
.advantages--child h2 {
  position: relative;
}
.advantages--child ul {
  list-style: circle;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.advantages--child ul li {
  font-size: 18px;
  font-weight: 400;
}
.advantages--child ul li::marker {
  content: "●  ";
  font-size: 1em;
  color: #DB6020;
}

.discussion {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  gap: 4rem;
  padding: 0 0.5rem;
}
.discussion__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}
.discussion__header img {
  margin-top: 1rem;
}
.discussion section {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}
.discussion section a {
  width: -moz-fit-content;
  width: fit-content;
}

.footer {
  display: grid;
  grid-template-rows: auto auto auto;
  border-top: 1px solid gray;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
  padding: 1rem;
}
.footer__form {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.footer__form form {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.footer__form form button {
  margin: 0 20vw 0 20vw;
}
.footer__contacts {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.footer__contacts h2 {
  display: flex;
  flex-direction: column;
}
.footer__contacts nav {
  width: 100%;
  margin-top: 1rem;
}
.footer__contacts nav ul {
  margin-top: 1rem;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
}
.footer__contacts nav ul a {
  color: #DB6020;
}
.footer__contacts nav ul a:hover {
  color: #b9541d;
}
.footer footer p {
  margin: 0;
}
.footer footer a {
  color: #DB6020;
  font-weight: 400;
  font-size: 16px;
}
.footer footer a:hover {
  color: #b9541d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Alegreya Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  margin-bottom: 4rem;
}

header div {
  width: 175px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

h3 {
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 18px;
}

a[data-main-link] {
  color: white;
  background-color: #DB6020;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  font-size: 20px;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}
a[data-main-link]:hover {
  background-color: transparent;
  border: 1px solid #DB6020;
  color: black;
}

a[data-sub-link] {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-size: 16px;
  border: 1px solid #DB6020;
  transition: all 0.2s ease-in-out;
}
a[data-sub-link]:hover {
  border: 1px solid transparent;
  background-color: #DB6020;
  color: white;
}

input {
  background-color: transparent;
  border: 1px solid #999999;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

button[main-btn] {
  background-color: #DB6020;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
button[main-btn]:hover {
  background-color: transparent;
  border: 1px solid #DB6020;
  color: black;
}

img {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .header__main {
    padding: 1rem 3rem;
  }
  .header__main--btn {
    width: 3.5rem;
    height: 3rem;
  }
  main .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .header--img {
    width: 80%;
  }
  main .header--link {
    align-items: center;
  }
  main .header--link h1 {
    display: inline-block;
  }
  main .header--link a {
    margin-top: 1rem;
    width: 60%;
    padding: 1rem;
  }
  main .article {
    gap: 0;
  }
  main .article section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  main .article section .article__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  main .article section .articl__img {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vmin;
    margin: 0 5% 0 5%;
    justify-content: center;
  }
  main .article section p {
    margin-top: -1rem;
  }
  main .article--child {
    position: relative;
  }
  main .article--child .articl__img {
    width: 80%;
  }
  main .article .article--child:nth-child(2) .article__description {
    grid-column: 1;
    grid-row: 1;
  }
  main .article .article--child:nth-child(4) .article__description {
    grid-column: 1;
    grid-row: 1;
  }
  main .article .comunicate {
    margin-top: 4rem;
  }
  main .article .comunicate a {
    margin-top: 2rem;
    width: 60%;
    padding: 1rem;
  }
  main .partnership {
    padding: 2rem;
  }
  main .partnership a {
    margin-top: 2rem;
    width: 60%;
    padding: 1rem;
  }
  main .advantages--child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }
  main .advantages--child div {
    grid-row: 1/span 2;
  }
  main .discussion__header img {
    width: 80%;
  }
  main .discussion__child {
    text-align: center;
    align-items: center;
  }
  main .discussion__child a {
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer__contacts nav ul {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .footer footer {
    display: flex;
    gap: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 22px;
  }
  a {
    font-size: 22px;
  }
  .header__main {
    padding: 1rem 5rem;
    z-index: 2;
  }
  .header__main--btn {
    display: none;
  }
  .header__main__navbar {
    display: block;
  }
  .navbar {
    display: none;
  }
  .navbar ul {
    display: none;
  }
  main {
    padding: 2rem 5rem;
    gap: 5rem;
  }
  main .header {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
  }
  main .header--img {
    grid-column: 2;
    grid-row: 1;
  }
  main .header--link {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: baseline;
  }
  main .header--link h1 {
    width: 100%;
  }
  main .header--link a {
    width: 50%;
    padding: 1rem;
  }
  main .article {
    gap: 0;
  }
  main .article section {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  main .article section .article__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  main .article section .articl__img {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2vmin;
    margin: 0 5% 0 5%;
    justify-content: center;
  }
  main .article section p {
    margin-top: -1rem;
  }
  main .article--child {
    position: relative;
  }
  main .article--child .articl__img {
    width: 80%;
  }
  main .article .article--child:nth-child(2) .article__description {
    grid-column: 1;
    grid-row: 1;
  }
  main .article .article--child:nth-child(4) .article__description {
    grid-column: 1;
    grid-row: 1;
  }
  main .article .comunicate {
    margin-top: 4rem;
  }
  main .article .comunicate a {
    margin-top: 2rem;
    width: 30%;
    padding: 1rem;
  }
  main .advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0 1fr;
    justify-content: center;
    row-gap: 8rem;
  }
  main .advantages--child {
    display: flex;
    padding-bottom: 1rem;
    gap: 2rem;
  }
  main .advantages--child div {
    width: auto;
  }
  main .advantages--child div img {
    height: 20rem;
  }
  main .advantages h1 {
    grid-column: 1/span 3;
  }
  main .advantages li {
    font-size: 22px;
  }
  main .partnership {
    gap: 0;
  }
  main .partnership__list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  main .partnership a {
    margin-top: 4rem;
    width: 30%;
  }
  main .discussion {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  main .discussion__header {
    text-align: center;
    grid-column: 1/span 2;
  }
  main .discussion__header img {
    width: 40%;
  }
  main .discussion__child {
    text-align: left;
    align-items: normal;
  }
  .footer {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 5rem;
  }
  .footer__form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 2rem;
  }
  .footer__form form {
    display: flex;
    flex-direction: row;
  }
  .footer__form form input {
    width: 50%;
  }
  .footer__form form button {
    margin: 0;
  }
  .footer__contacts {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .footer__contacts h2 {
    flex-direction: row;
    gap: 1rem;
  }
  .footer__contacts nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer__contacts nav a[data-main-link] {
    padding: 0.5rem 2rem;
  }
  .footer__contacts nav ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .footer footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    grid-column: 1/span 2;
    gap: 1rem;
  }
}