main {

    .article {
        display: grid;
        grid-template-rows: 100% 100% 100% 100%;
        padding: 0 0.5rem;
        gap: 2rem;

       h3 {
        margin: 1rem 0 1rem 0;
       }

        .comunicate {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 1rem;
        
            a {
                width: 80%;
            }
        }
    }
}